
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About page content here</h2>
@{ ViewBag.Message = "Leading company in the world";}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}

