
@{
  
}

<h2>About page content here</h2>
@{ ViewBag.Message = "Leading company in the world";}

@{ 
    ViewBag.ListTitle = "Producs";
    ViewBag.Items = new List<string>() { "Mobiles", "Electronics", "Home appliances" };
    Html.RenderPartial("ListPartialView");
}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}

