
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact page here</h2>
@{ ViewBag.Message = "Contact ou customer care representative";}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}

