
@{
    ViewBag.Title = "Homr";
   
}

<h2>Home page content's here</h2>

@{ ViewBag.Message = "Welcome to demo app";}

@section SideBarOptions{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin Home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
}