
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml"; <!--Permet d'ovveride le viewstart du dossier home 
                                                       et lui donner un autre layout'-->

}

<h2>Profile page here</h2>
